
#container {
	min-width: 900px;
}

#menu {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
}

#menu-item {
	padding: 0;
}

#logout-btn {
	margin-right:40px;
}

#content {
	margin: 70px 0 0 0;
}

#main-content {
	padding: 0 50px 0 50px !important;
}

.list-li {
	margin: 10px 0 10px 0 !important;
	padding: 0 !important;
}

.list-link {
	padding: 0 !important;
}

.list-img {
	height: 90px !important;
}

.list-info {
	padding: 0 !important;
}

.list-item {
	margin: 5px 0 5px 0 !important;
}

.list-item-info {
	margin: 10px 0 10px 0 !important;
}

.list-content {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-badge {
	padding: 0 !important;
}

.list-close {
	visibility: hidden;
}

.list-btn {
	width: 60px;
}

a:hover {
	color: #333 !important;
}
