
#container {
	padding: 10px 0 0 0;
	min-width: 1200px;
}

#button {
	position: fixed;
	top: 100px;
	left: 150px;
	margin: 0;
	padding: 0;
}

a[id^='link'] {
	margin: 5px;
	width: 100px;
	background-color: white;
}