body{
	margin-left: 275px;
	margin-top: 25px;
	width:1024px;
}
.row{
	text-align: center;
}
#input_type{
	width:200px;
}
#first_line{
	padding-left: 24px;
}
#introduce{
	margin-left: 100px;
}
#submitcom{
	margin-left: 600px;
}