.main{
	
	top: 95px;
	left: 538px;
    font-size: 20px;
    width:840px;
    height:500px;
    overflow-y:auto; 
    overflow-x:hidden; 
}

.row a{
	text-decoration: none;
}
#text a:hover{
	-webkit-box-shadow: 10px 10px 5px #888888;
}
.picclass{
	width:100px;
	height: 100px;
}
.show_activity{
	text-align: center;
	background-color:#e5eecc;
	border:1px solid  #c3c3c3;
	color: red;
}
.activity_content{
	text-align: center;
	background-color:#e5eecc;
	border:1px solid  #c3c3c3;	
	font-weight: bold;
	font-size: 16px;
	display: none;
}


